/*    Main MobileGo color #a0000a   */
/*      Second color #770008         */

:root{
    --mobile-go-color:#a0000a;
    --second-color:#770008;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter',sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}
/* Start Styling Navbar */
.home_navbar{
    background-color: #fff;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    box-shadow: 0px 0px 10px rgb(1, 1, 1, 0.3);
}

.nav_logo{
    width: 100px;
    float: left;
    margin-left: 1%;
    margin-top: 10px;
}

.main_nav{
    float: left;
    list-style: none;
    margin-top: 35px;
    margin-left: 2%;
}

.main_nav li{
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
    
}

.main_nav li a:link,
.main_nav li a:visited {
    padding: 5px 4px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 100;
    font-size: 80%;
    transition:  0.3s;
    border: 2px solid transparent;
    transition: 0.3s;
}

ul:hover li .nav_link{
    color: rgb(171, 171, 171);
}

ul li .nav_link:hover{
    border-bottom: 1px solid var(--mobile-go-color);
    opacity:1;
    text-decoration:none;
    color:rgb(0, 0, 0);
}

.profile_img{
    float: right;
    width: 30px;
    margin-top: 33px;
    margin-right: 2%;
}

.log_in{
    float: right;
    text-decoration: none;
    font-size: 17px;
    margin-top: 30px;
    margin-right: 2%;
    transition: 0.5s ease;
}
.log_in:link,
.log_in:visited{
    background-color: var(--mobile-go-color);
    color: #fff;
    padding: 5px;
    border-radius: 13px;

}

.log_in:hover{
    background-color: var(--second-color);
}
.Heaading_store{
    display: flex;
    margin-top: 110px;
    margin-left: 45%;
    color: var(--mobile-go-color);
}

.Heaading_store h3{
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 450;
}
/* End Styling Navbar */


/* Start Styling cards */

.cards_container{
    background-color: rgb(241, 241, 241); 
    height: 100%; 
    padding-top: 100px;
    padding-bottom: 60px;
}

.card_store{
    width: 16rem; 
    margin-left: 20px; 
    box-shadow: 0px 5px 25px rgb(0.5  0.5  0.5 / 20%);
    border-radius: 15px;
    transition: 0.5s ease;
}
.card_store:hover{
    transform: scale(1.03);
}

.img_card{
    width: 230px;
    height: 303.16px;
    margin-top: 15px;
}

.link_phone{
    text-decoration: none;
    color: #000;
}

.card_brand{
    text-align: center;
}

.price_info{
    text-align: left;
    margin-top: 10px;
}

.price_info p{
    margin-bottom: 0;
}
.price{
    font-size: 120%;
    font-weight: 500;
}
.info_text{
    font-size: 90%;
}

sup{
    font-size: 50%;
    color: rgb(150, 150, 150);
}

s{
    color: rgb(150, 150, 150);
}

.card_offer{
    text-align: right;
    margin-right: 8%;
    color: #5bc86e;
}

.No_Offer{
    color: #fff;
    opacity: 0;
}
/* End Styling cards */


/* Start Styling Top button using id */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;  /* appear above Objects */
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
}
/* when Hover on Top button  */
#myBtn:hover {    
    transform: scale(1.06);
    cursor: pointer;
}

.arrow{
    width: 40px;
    border-radius: 50%;
}

/* End Styling Top button using id */
